/**
*
* {{ properCase name }}
*
*/

import React from 'react'
import PropTypes from 'prop-types'

const {{ properCase name }} = props => (
  <div>
    {/* fanciness here... */}
  </div>
)

{{ properCase name }}.displayName = '{{ properCase name }}'
{{ properCase name }}.propTypes = {

}

export default {{ properCase name }}
